@model Automarket.Domain.ViewModels.CarViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>@Model.Name</p>
<p>@Model.Model</p>
<p>@Model.Price</p>
<p>@Model.Speed</p>
<p>@Model.Type</p>
<p>@Model.CreateDate</p><br/>
